{%extends 'main/base.html' %}  {% block content %} {% load static %} {% load bootstrap4 %} {% load ratings %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>Welcome to {{user.profile.hood}} NeighbourHood {{user.username|title}}</h1>
        <h2 style="font-weight: bold;">We are pleased to have you as our new member. We hope you will enjoy living here.</h2>
        <a href="#about" class="btn-get-started scrollto" data-toggle="modal" data-target="#exampleModalem">Emergency
            Contacts</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Incase of an emergency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6><strong>Police Contacts: </strong>0722989696</h6><br>
                    <h6><strong>Local Ambulance: </strong>0100345686</h6><br>
                    <h6><strong>County Fire Department: </strong>0100578347</h6>
                </div>

            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= Testimonials Section ======= -->
    <section id="alerts" class="testimonials section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Alerts</h2>
                        <p>Here are the alerts that other neighbourhood members made.Be sure to check them just to be
                            upto date with what is happening in the neighbourhood.</p>

                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success btn-sm mt-4" data-toggle="modal"
                            data-target="#exampleModalCenteralert">Post Alert
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenteralert" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Post Alert</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" id="formOne">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formOne">
                                        {% bootstrap_form alert_form %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button name="login"
                                                            class="col-md-12 btn btn-dark"
                                                            id="login">Post Alert
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            {%for alert in alerts %}
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <h3>{{ alert.priority }}</h3>
                                    <hr>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        {{ alert.message }}
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                    <img style="height: 5.5rem;" src="{{alert.poster.profile.photo.url}}" class="testimonial-img"
                                         alt="">
                                    <h3>{{ alert.poster }}</h3>
                                    <h4>{{ alert.pub_date }}</h4>
                                </div>

                            </div><!-- End testimonial item -->
                            {% endfor %}

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="posts" class="team">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Posts</h2>
                        <p>Here are the posts other community members in the hood have made.</p>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success btn-sm mt-4" data-toggle="modal"
                            data-target="#exampleModalCenterPost">Create Post
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenterPost" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Create post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" id="formTwo">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formTwo">
                                        {% bootstrap_form post_form %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button name="login"
                                                            class="col-md-12 btn btn-dark"
                                                            id="login">Create
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-lg-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pic"><img style="height: 5rem;" src="{{ post.poster.profile.photo.url }}" class="img-fluid testimonial-img" alt="">
                                </div>
                                <div class="member-info">
                                    <h4>{{ post.poster.username }}</h4>
                                    <span class="text-muted">{{ post.pub_date }}</span>
                                    <p>{{ post.description }}</p>
                                    <div class="social">
                                        <!--                                        <a href=""><i class="bi bi-eye-fill" style="color: white;"></i></a>-->
                                        <a href="{% url 'comment' post.id %}"><i class="bi bi-chat-fill"
                                                                                 style="color: white;"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="business" class="testimonials section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Business</h2>
                        <p>Here are some of the business that you can find in this neighbourhood together with their
                            contacts. .</p>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success btn-sm mt-4" data-toggle="modal"
                            data-target="#exampleModalCenterbusiness">Post Business
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenterbusiness" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Post a business</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" id="formThree">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="formThree">
                                        {% bootstrap_form business_form %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">

                                                    <button name="login"
                                                            class="col-md-12 btn btn-dark"
                                                            id="login">Post Business
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            {%for business in businesses%}
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    Business name: <h5>{{ business.name }}</h5>
                                    <hr>
                                    Contact: <p>{{ business.contact }}</p>
                                    Location: <p>{{ business.location }}</p>
                                    Description: <p>{{ business.description }}</p>
                                    Posted by: <p>{{ business.poster }} on <span class="text-muted">{{business.pub_date}}</span>
                                </p><hr>
                                    {% ratings business %}

                                </div>
                            </div><!-- End testimonial item -->
                            {%endfor%}

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->
{% endblock %}
