<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="height: 100vh;" class="d-block w-100" src="https://images.pexels.com/photos/1654330/pexels-photo-1654330.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="First slide">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 5rem; border-radius:0 5rem; background: rgba(254,255,255,0.5); height: 14rem; color: black;padding:2rem;">
                <h3 style="font-weight: bold;">Here’s to new beginnings and amazing memories in your new place.</h3>
                <h6 class="mt-2" style="font-size: 1.3rem; font-weight: bold;">Fingers crossed that your new neighbours aren’t weirdos.</h6>
                <a href="{% url 'login' %}"><button class="btn btn-secondary btn-lg mt-3">Join Hood</button></a>
            </div>
        </div>
        <div class="carousel-item">
            <img style="height: 100vh;" class="d-block w-100" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Second slide">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 5rem; background: rgba(254,255,255,0.4); border-radius:3rem 0; height: 13rem; color: black;padding:2rem;">
                <h3 class="" style="font-weight: bold;">Home is the place we love the best and grumble the most.</h3>
                <h6 class="mt-2" style="font-size: 1.3rem; font-weight: bold;">We hope you love it here.</h6>
                <a href="{% url 'login' %}"><button class="btn btn-secondary btn-lg mt-3">Join Hood</button></a>
            </div>
        </div>
        <div class="carousel-item">
            <img style="height: 100vh;" class="d-block w-100" src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Third slide">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 4rem; background: rgba(254,255,255,0.4); border-radius:3rem 0; height: 15rem; color: black;padding:2rem;">
                <h3 style="font-weight: bold;">May your stay in the new neighbourhood be as good as you had envisioned it to be.</h3>
                <h6 class="mt-2" style="font-size: 1.3rem; font-weight: bold;">We hope the transition is easy for you.</h6>
                <a href="{% url 'login' %}"><button class="btn btn-secondary btn-lg mt-3">Join Hood</button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
